@font-face { 
    font-family: "HelveticaNeueLTProLt";
    src: url(../fonts/HelveticaNeueLTProLt.otf) format("opentype"), /* IE8+, знак ? позволяет обойти баг в обработчике значения src */
}
@font-face { 
    font-family: "HelveticaNeueLTProMd";
    src: url(../fonts/HelveticaNeueLTProMd.otf) format("opentype"), /* IE8+, знак ? позволяет обойти баг в обработчике значения src */
}
@font-face { 
    font-family: "HelveticaNeueLTProRoman";
    src: url(../fonts/HelveticaNeueLTProRoman.otf) format("opentype"), /* IE8+, знак ? позволяет обойти баг в обработчике значения src */
}
@font-face { 
    font-family: "Merriweather-LightItalic";
    src: url(../fonts/Merriweather-LightItalic.ttf) format("truetype"), /* IE8+, знак ? позволяет обойти баг в обработчике значения src */
}
@font-face { 
    font-family: "Montserrat-Light";
    src: url(../fonts/Montserrat-Light.ttf) format("truetype"), /* IE8+, знак ? позволяет обойти баг в обработчике значения src */
}
@font-face { 
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat-Regular.ttf) format("truetype"), /* IE8+, знак ? позволяет обойти баг в обработчике значения src */
}@font-face { 
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf) format("truetype"), /* IE8+, знак ? позволяет обойти баг в обработчике значения src */
}

* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
.header {
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    border: 1px solid red;
}
.menu {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu__item a {
    font-family: "Roboto-Regular",sans-serif;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #989696;
    text-decoration: none;
    margin-right: 43px;
}
.menu__item:last-child a {
    margin-right: 0;
}
.active a {
        color: #010101;
}
.logo {
    margin: 0 16px;
}
.header__content {
}
.header__title {
    font-family: "HelveticaNeueLTProLt", sans-serif;
    font-size: 44px;
    line-height: 41px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #1d1e1f;
    margin: 207px auto 4px;
}
.header__text {
}
.header__button {
}